{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Чат</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_chat.css' %}">
</head>
<body>
    <div id="chat-container">
        <div id="chat-log"></div>
        <input id="chat-message-input" type="text"><br>
        <input id="chat-message-submit" type="button" value="Отправить">
        {{ room_name|json_script:"room-name" }}
        <script>
            const roomName = JSON.parse(document.getElementById('room-name').textContent);
            const chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/chat/'
                + roomName
                + '/'
            );

            chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                const messageElement = document.createElement('div');
                messageElement.classList.add('chat-message');

                // Проверка, является ли пользователь автором сообщения
                if (data.author.username === '{{ request.user.username }}')
                {
                    messageElement.classList.add('author');
                }

                // Добавление имени автора над текстом сообщения
                const authorNameElement = document.createElement('div');
                authorNameElement.classList.add('author-name');
                authorNameElement.textContent = data.author.username;
                authorNameElement.onclick = function() {
                    window.location.href = '/users/profile/' + data.author.slug;
                };
                messageElement.appendChild(authorNameElement);

                const textElement = document.createElement('div');
                textElement.textContent = data.message;
                messageElement.appendChild(textElement);

                const timeElement = document.createElement('span');
                timeElement.classList.add('message-time');
                const currentTime = new Date().toLocaleTimeString();
                timeElement.textContent = currentTime;
                messageElement.appendChild(timeElement);

                document.querySelector('#chat-log').appendChild(messageElement);
            };

            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };

            document.querySelector('#chat-message-input').focus();
            document.querySelector('#chat-message-input').onkeyup = function(e) {
                if (e.key === 'Enter') {
                    document.querySelector('#chat-message-submit').click();
                }
            };

            document.querySelector('#chat-message-submit').onclick = function(e) {
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;
                chatSocket.send(JSON.stringify({
                    'message': message,
                }));
                messageInputDom.value = '';
            };
        </script>
    </div>
</body>
</html>

